# CodeLite
*.project
*.workspace
*.mk
.clang/
.codelite/

# Visual Studio
*.sdf
*.sln
*.user
*.suo
*.opensdf
Debug/
ipch/

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
